<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if navbarActive}}
                <li class="active"><a href="/">Home</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
            {{/if}}

            {{#if isAuth}}
                {{#if aboutActive}}
                    <li class="active"><a href="/about">About</a></li>
                {{else}}
                    <li><a href="/about">About</a></li>
                {{/if}}

                {{#if addActive}}
                    <li class="active"><a href="/add">Add</a></li>
                {{else}}
                    <li><a href="/add">Add</a></li>
                {{/if}}
                    <li><a href="/auth/logout">Logout</a></li>
            {{else}}
                {{#if loginActive}}
                    <li class="active"><a href="/auth">Login</a></li>
                {{else}}
                    <li><a href="/auth">Login</a></li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</nav>